article.page {
	background: #ffffff;
	padding-bottom: 60px;
}

@media (max-width: 992px) {
	article.page {
		margin-bottom: 60px;
	}
	.home article.page,
	.page-template-full-width article.page,
	.page-template-archive article.page {
		margin-bottom: 0;
	}
}

article.page .entry-header {
	padding-top: 60px;
	width: 80%;
	display: block;
	margin: 0 auto 30px;
}

article.page .entry-content {
	width: 80%;
	display: block;
	margin: 0 auto;
	/*margin-bottom: 60px;*/
}

.home article.page .entry-content {
	padding-top: 60px;
}
